@model BandsApp.Web.Models.Band

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <img src="/images/@Model.ImageName">
    <h1>@Model.Name</h1>
	<p>@Model.Description</p>
    <a href="/">Back to list</a>

</body>
</html>