@model BandsApp.Web.Models.Band[]

<!DOCTYPE html>
<html>
    <head>
        <title>Bands</title>
    </head>
    <body>
        <h1>Bands</h1>
        <ol>
		@foreach (var band in Model)
		{
			<li>@band.Name, @band.Description</li>
		}
        </ol>


    
    </body>
    </html>