@model BandsApp.Web.Models.Band[]

    <h1 class="pico-color-pink-750">Bands</h1>
        <ol>
		@foreach (var band in Model)
		{
            <li><a href="/details/@band.Id">@band.Name, @band.Description</a></li>
		}
        </ol>
   